@use '../../../styles/variables' as variables;
@use '../../../styles/mixins/button' as mixins;

.header {
  max-width: 1280px;
  width: 100%;
  padding: 20px 50px;
  margin: 0 auto;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    &-nav {
      display: flex;
      gap: 10px;

      @media (width <= 929px) {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: variables.$overlay-bg;
        backdrop-filter: blur(10px);
        gap: 65px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
      }

      &--open {
        transform: translateX(0);
      }

    }
  }

  &__list {
    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      @media (width <= 929px) {
        flex-direction: column;
        gap: 35px;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: variables.$link-main;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;

    &--logo {
      display: block;

      img {
        display: block;
      }
    }

    &--nav {
      padding: 0 20px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }

    &-sign-in {
      @include mixins.button-base($width: 152px);
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("/assets/images/vector/sign-in.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (width <= 929px) {
      font-size: 28px;
    }
  }

  &__button {
    &-burger {
      display: none;
      position: relative;
      border: none;
      width: 24px;
      height: 24px;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      z-index: 2;

      &::before, &::after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: variables.$burger-line-bg;
        transition: width 0.3s ease, transform 0.3s ease;
      }

      &:hover {
        &::before, &::after {
          width: 75%;
        }
      }

      @media (width <= 929px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &--open {
        &::before, &::after {
          position: absolute;
          top: 50%;
          left: 0;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        span {
          opacity: 0;
          transition: opacity 0s ease;
        }
      }
    }
  }

  &__line-middle {
    display: block;
    background-color: variables.$burger-line-bg;
    width: 24px;
    height: 2px;
    transition: opacity 0.3s ease;
  }

  @media (width <= 480px) {
    padding: 20px 30px;
  }
}
