<section class="hero">
  <div class="hero__content container">
    <div class="hero__info">
      <h1 class="hero__title hero__title--main">Discover digital art & Collect NFTs</h1>
      <p class="hero__subtitle">NFT marketplace UI created with Anima for Figma.
        Collect, buy and sell art from more than 20k NFT artists.</p>
<app-hero-stats [isBottom]="false"/>
    </div>
    <div class="hero__image">
      <article class="hero__card">
        <img src="/assets/images/raster/hero-space-walking.jpg" width="510" height="401" alt="Space walking"/>
        <div class="hero__wrapper-card">
          <h2 class="hero__title hero__title--card">Space walking</h2>
          <span class="hero__user">Animakid</span>
        </div>
      </article>
    </div>
<app-hero-stats [isBottom]="true"/>
  </div>
</section>
