@use '../../../styles/variables' as variables;
@use '../../../styles/mixins/button' as mixins;

.hero {
  padding: 80px 0;

  &__title {
    text-transform: capitalize;

    &--main {
      font-size: 67px;
      font-weight: 600;
      line-height: 79px;

      @media (width <= 930px) {
        font-size: 38px;
        line-height: 120%;
      }

      @media (width <= 480px) {
        font-size: 28px;
        line-height: 140%;
      }
    }

    &--card {
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
    }
  }

  &__subtitle {
    @media (width <= 930px) {
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__content {
    display: flex;
    gap: 30px;
    position: relative;

    @media (width <= 752px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc((100% - 30px) / 2);

    @media (width <= 930px) {
      gap: 20px;
    }

    @media (width <= 480px) {
      gap: 10px;
    }
  }

  &__image {
    width: calc((100% - 30px) / 2);
  }

  &__info,
  &__image {
    @media (width <= 752px) {
      width: 80%;
    }

    @media (width <= 571px) {
      width: 100%;
    }
  }

  &__card {
    border-radius: 22px;
    overflow: hidden;
    background-color: variables.$bg-accent;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__wrapper {
    &-card {
      padding: 22px 20px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 140%;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('/assets/images/vector/hero-avatar.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__stats-bottom {
    display: none;

    @media (width <= 752px) {
      display: flex;
    }
  }

  @media (width <= 480px) {
    padding: 40px 0;
  }
}
