@use "sass:color";

// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);
$black: rgb(0 0 0);

/* gray */
$gray-400: rgb(59 59 59);
$gray-500: rgb(43 43 43);

/* violet */
$violet: rgb(162 89 255);

/* background */
$bg-main: $gray-500;
$bg-accent: $gray-400;

/* text */
$text-main: $white;

/* link */
$link-main: $white;

/* button */
$button-main: $white;
$button-bg: $violet;

/* burger-line */
$burger-line-bg: $violet;

/* overlay */
$overlay-bg: color.scale($black, $alpha: -70%);

// ==== TYPOGRAPHY ==== //
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Space Mono', monospace;
