@use "sass:color";

// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);
$black: rgb(0 0 0);
$green: rgb(0 172 79);

/* gray */
$gray-200: rgb(204 204 204);
$gray-300: rgb(133 133 132);
$gray-400: rgb(59 59 59);
$gray-500: rgb(43 43 43);

/* violet */
$violet: rgb(162 89 255);

/* background */
$bg-main: $gray-500;
$bg-accent: $gray-400;
$bg-accent-ligth: $gray-300;

/* text */
$text-main: $white;
$text-accent: $gray-300;
$text-accent-dark: $gray-500;
$text-accent-light: $gray-200;
$text-accent-green: $green;

/* subtitle */
$subtitle-text-color: $gray-300;

/* link */
$link-main: $white;
$link-border-color: $violet;
$link-bg-accent: $violet;

/* wallet-link */
$wallet-link-bg: $gray-400;
$wallet-border-color: $violet;

/* button */
$button-main: $white;
$button-bg: $violet;
$button-bg-hover: color.scale($violet, $blackness: 25%);
$button-bg-active: color.scale($violet, $blackness: 35%);
$button-border-color: $violet;

/* button-filter */
$button-filter-main: $gray-300;
$button-filter-active: $white;
$button-filter-border: 2px solid $gray-300;

/* burger-line */
$burger-line-bg: $violet;

/* overlay */
$overlay-bg: color.scale($black, $alpha: -70%);
$overlay-bg-violet: linear-gradient(180.00deg, rgb(162 89 255 / 0%) 0%, rgb(162 89 255) 100%);

/* timer */
$timer-bg: color.scale($gray-400, $alpha: -50%);

/* copyright */
$copyright-border-color: $gray-300;

/* input */
$input-border-color: $gray-300;
$input-bg: $white;
$input-text-color: $gray-500;

/* input-search */
$input-search-border: 1px solid $gray-400;

/* header-cell */
$header-cell-border: 1px solid $gray-300;

// ==== TYPOGRAPHY ==== //
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Space Mono', monospace;
