<div class="marketplace">
  <app-header />
  <main>
    <div class="container">
      <section class="marketplace__hero">
        <h2 class="title">Browse Marketplace</h2>
        <p class="text">Browse through more than 50k NFTs on the NFT Marketplace.</p>
        <label for="marketplace-input-search" class="visually-hidden">Search your nft</label>
        <div class="marketplace__wrapper-search">
          <input
            id="marketplace-input-search"
            class="marketplace__input-search"
            type="search"
            placeholder="Search your favourite NFTs"
          />
        </div>
      </section>
    </div>
    <section class="marketplace__gallery">
      <div class="container">
        <div class="marketplace__gallery-filter">
          <button class="marketplace__button button button--filter active" type="button">
            NFTs <span>302</span>
          </button>
          <button class="marketplace__button button button--filter" type="button">
            Collections <span>67</span>
          </button>
        </div>
      </div>

      <div class="marketplace__wrapper-list">
        <div class="container">
          <ul class="marketplace__list-nft-cards">
            @for (card of NFT_CARDS; track card.id) {
              <app-nft-card [card]="card" [isCustomPage]="true" />
            }
          </ul>
        </div>
      </div>
    </section>
  </main>
  <app-footer />
</div>
