@use '../../../styles/variables' as variables;

.marketplace {
  &__hero {
    padding: 80px 0;

    @media (width <= 768px) {
      padding: 40px 0;
    }
  }

  &__input {
    &-search {
      width: 100%;
      padding: 19px 70px 19px 20px;
      background-color: transparent;
      border-radius: 20px;
      border: variables.$input-search-border;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: variables.$text-accent;
    }
  }

  &__wrapper {
    &-search {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url('/assets/images/vector/search-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &-list {
      background-color: variables.$bg-accent;
      padding: 80px 0;
      border-bottom: 1px solid black;

      @media (width <= 768px) {
        padding: 40px 0;
      }
    }
  }

  &__button {
    max-width: 495px;
    width: 100%;
  }

  &__gallery {
    &-filter {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    &-nft-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @media (width <= 1052px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (width <= 600px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
