@use '../../../styles/variables' as variables;

.trend-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 330px;
  width: 100%;

  &__nfts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    li {
      img {
        display: block;

        @media (width <= 389px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__avatar {
    display: block;
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(0.95);
    }

    &--more-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      color: variables.$link-main;
      font-family: variables.$font-family-secondary;
      font-size: 22px;
      font-weight: 700;
      line-height: 160%;
      text-align: center;
      background-color: variables.$link-bg-accent;
      border-radius: 20px;
      text-transform: capitalize;
      height: 100%;
    }
  }
}
