<section class="subscribe">
  <div class="container">
    <div class="content">
      <picture>
        <source srcset="/assets/images/raster/subscribe-astronaut-mobile.png" media="(max-width: 775px)">
        <source srcset="/assets/images/raster/subscribe-astronaut-tablet.png" media="(max-width: 1200px)">
        <img class="subscribe__image"
             src="/assets/images/raster/subscribe-astronaut.png"

             alt=""
             loading="lazy"
        />
      </picture>
      <div class="subscribe__info">
        <h2 class="subscribe__title section-title">Join our weekly digest</h2>
        <p class="subscribe__subtitle section-subtitle">Get exclusive promotions & updates straight to your inbox.</p>
        <form class="subscribe__form" aria-label="Подписка на рассылку">
          <label for="email" class="visually-hidden">Enter your email</label>
          <input class="subscribe__email" id="email" type="email" required placeholder="Enter your email here">
          <button class="subscribe__button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
