@use '../../../styles/variables' as variables;
@use '../../../styles/mixins/button' as mixins;

.subscribe {
  padding-top: 40px;
  padding-bottom: 80px;

  .content {
    display: flex;
    gap: 80px;
    padding: 60px;
    background-color: variables.$bg-accent;
    border-radius: 20px;
    align-items: center;

    @media (width <= 930px) {
      gap: 30px;
      padding: 40px 30px;
    }

    @media (width <= 775px) {
      flex-direction: column;
      background-color: transparent;
      padding: 0;
    }
  }

  &__image {
    display: block;
  }

  &__title {
    @media (width <= 1150px) {
      font-size: 28px;
      line-height: 140%;
    }
  }

  &__subtitle {
    margin-bottom: 40px;

    @media (width <= 1150px) {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 40px;
    }
  }

  @media (width <= 480px) {
    padding-bottom: 40px;
  }
}
