<div class="ranking">
  <app-header/>
  <main>
    <div class="container">
      <section class="ranking__hero">
        <h1 class="title">Top Creators</h1>
        <p class="ranking__text text">Check out top ranking NFT artists on the NFT Marketplace.</p>
      </section>

      <section class="ranking__info">
        <div class="ranking__filter">
          @for (filter of filtersText(); track filter.id) {
            <button (click)="changeFilter(filter.type)"
                    [ngClass]="{
                    'ranking__button': true,
                    'button': true,
                    'button--filter': true,
                    'active': filter.type === currentFilter()
                    }">{{ filter.label }}
            </button>
          }
        </div>
        <div class="ranking__table" role="table" aria-label="Рейтинг авторов">
          <div class="ranking__header" role="row">
            <span class="ranking__cell ranking__cell--number" role="columnheader">#</span>
            <span class="ranking__cell ranking__cell--artist" role="columnheader">Artist</span>
            <span class="ranking__cell ranking__cell--change" role="columnheader">Change</span>
            <span class="ranking__cell ranking__cell--sold" role="columnheader">NFTs Sold</span>
            <span class="ranking__cell ranking__cell--volume" role="columnheader">Volume</span>
          </div>
          <ul class="ranking__body">
            @for (row of MOCK_RANKING_DATA; track row.id) {
              <li class="ranking__row" role="row">
                <span class="ranking__cell ranking__cell--number" role="cell">{{ row.rank }}</span>
                <div class="ranking__cell ranking__cell--artist" role="cell">
                  <div class="ranking__wrapper-avatar">
                    <img class="ranking__avatar" src="{{row.image}}" width="60"
                         height="60" alt="Creator {{ row.name }}"/>
                  </div>
                  <span>{{ row.name }}</span>
                </div>
                <span class="ranking__cell ranking__cell--change">+{{ row.change }}%</span>
                <span class="ranking__cell ranking__cell--sold">{{ row.sold }}</span>
                <span class="ranking__cell ranking__cell--volume">{{ row.volume }} ETH</span>
              </li>

            }
          </ul>
        </div>
      </section>
    </div>
  </main>
  <app-footer/>
</div>
