<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__content ">
      <div class="footer__info">
        <a class="footer__link footer__link--logo" href="/public">
          <img ngSrc="/assets/images/vector/logo.svg"
               width="243"
               height="32"
               alt="Логотип компании"
               loading="lazy"
          />
        </a>
        <p class="footer__text footer__text--info">NFT marketplace UI created with Anima for Figma.</p>
        <p class="footer__text">Join our community</p>
        <ul class="footer__socials">
          <li>
            <a class="footer__link footer__link--social" href="#" target="_blank" rel="noopener noreferrer">
              <img ngSrc="/assets/images/vector/discord-logo.svg"
                   width="32"
                   height="32"
                   alt="Discord"
                   loading="lazy"
              />
            </a>
          </li>
          <li>
            <a class="footer__link footer__link--social" href="#" target="_blank" rel="noopener noreferrer">
              <img ngSrc="/assets/images/vector/youtube-logo.svg"
                   width="32"
                   height="32"
                   alt="Youtube"
                   loading="lazy"
              />
            </a>
          </li>
          <li>
            <a class="footer__link footer__link--social" href="#" target="_blank" rel="noopener noreferrer">
              <img ngSrc="/assets/images/vector/twitter-logo.svg"
                   width="32"
                   height="32"
                   alt="Twitter"
                   loading="lazy"
              />
            </a>
          </li>
          <li>
            <a class="footer__link footer__link--social" href="#" target="_blank" rel="noopener noreferrer">
              <img ngSrc="/assets/images/vector/instagram-logo.svg"
                   width="32"
                   height="32"
                   alt="Instagram"
                   loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__explores">
        <h2 class="footer__title">Explore</h2>
        <ul class="footer__explore-links">
          <li class="footer__explore"><a class="footer__link" href="#" target="_blank" rel="noreferrer noopener">MarketplaceComponent</a>
          </li>
          <li class="footer__explore"><a class="footer__link" href="#" target="_blank" rel="noreferrer noopener">Rankings</a>
          </li>
          <li class="footer__explore"><a class="footer__link" href="#" target="_blank" rel="noreferrer noopener">Connect
            a wallet</a></li>
        </ul>
      </div>
      <div class="footer__subscribe">
        <h2 class="footer__title">Join our weekly digest</h2>
        <p class="footer__text footer__text--subscribe">Get exclusive promotions & updates straight to your inbox.</p>
        <app-subscribe-form class="footer__subscribe"/>
      </div>
    </div>
    <div class="footer__copyright">
      <small class="footer__text-copyright">Ⓒ NFT Market. Use this template freely.</small>
    </div>
  </div>
</footer>
