<section class="auction">
  <div class="auction__content container">
    <div class="auction__wrapper-content">
      <div class="auction__user">
        <img class="auction__avatar"
             ngSrc="/assets/images/vector/auction-avatar.svg"
             width="24"
             height="24"
             alt="Shroomie avatar"
             loading="lazy"
        />
        <span class="auction__name">Shroomie</span>
      </div>
      <h2 class="auction__title">Magic Mashrooms</h2>
      <a class="auction__link" href="#">See NFT</a>
      <app-timer class="auction__timer"/>
    </div>
  </div>
</section>
