@use './styles/variables' as variables;
@use './styles/fonts';

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: variables.$bg-main;
  color: variables.$text-main;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.container {
  max-width: 1194px;
  width: 100%;
  padding: 0 72px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
