@use '../../../styles/variables' as variables;
@use '../../../styles/mixins/button' as mixins;

.more-ntfs {
  padding: 80px 0;

  &__content {
    position: relative;
  }

  &__button {
    @include mixins.button-base($width: 183px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: variables.$font-family-primary;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    background-color: transparent;
    border: 2px solid variables.$button-border-color;
    cursor: pointer;
    text-transform: capitalize;
    position: absolute;
    top: 31px;
    right: 115px;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("/assets/images/vector/eye.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (width <= 930px) {
      right: 72px;
      top: 7px;
    }

    @media (width <= 670px) {
      inset: 0;
      position: static;
      margin: 0 auto;
      max-width: 330px;
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (width <= 1052px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    @media (width <= 670px) {
      display: flex;
      justify-content: center;
    }
  }

  &__slide {
    width: 330px;
  }

  &__card {
    display: flex;
    justify-content: center;
  }

  @media (width <= 480px) {
    padding: 40px 0;
  }
}
